body {
    background: white;
}

button {
    cursor: pointer;
}

.game {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 750px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.game__header button {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #ff9100;
}
.button-hidden {
    visibility: hidden;
}
.game__header i {
    font-size: 24px;
}

.game__timer {
    font-size: 32px;
    border: solid 3px black;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: white;
}

.game__score {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    background-color: coral;
    border: solid 3px black;
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.game__field {
    width: 100%;
    height: 100%;
    max-height: 250px;
    position: relative;
}

.pop-up {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    position: relative;
    z-index: 3;
    transform: translateY(-150%);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.pop-up button {
    background: beige;
    border: solid 3px black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.pop-up i {
    font-size: 24px;
    color: black;
}

.pop-up__message {
    font-size: 30px;
    color: white;
}

.pop-up-hidden {
    display: none;
}

.game__bug {
    position: absolute;
    z-index: 2;
}

.game__carrot {
    position: absolute;
    z-index: 1;
}